<div
  class="row py-3"
  style="min-height: 100px"
  [ngClass]="currentWeek ? 'bg-light current-week' : ''"
  #weekRef
>
  <div class="row align-items-center">
    <h5 class="d-none d-sm-block mb-3">
      {{ weekStart | date : "MMMM" }}
    </h5>
  </div>
  <div class="row">
    <div
      class="col text-center p-0"
      *ngFor="let day of getWeekDates(); let i = index"
    >
      <div class="text-muted">
        {{ getDayOfWeek(i) }}
      </div>
      <div
        class="border bg-white mx-auto fw-bold"
        [ngClass]="{ 'bg-white': currentWeek }"
        style="width: 36px"
        [ngStyle]="{ color: isToday(day) ? 'red' : 'black' }"
      >
        {{ day }}
      </div>
    </div>
  </div>
</div>
