<nav class="navbar navbar-expand-md fixed-top bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Meal Planner</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav col-md-12">
        @for (route of routes; track $index){
        <li class="nav-item">
          <a
            class="nav-link text-white"
            [routerLink]="route.path"
            routerLinkActive="active"
          >
            {{ route.label }}
          </a>
        </li>
        }
        <li class="nav-item ms-md-auto d-md-flex">
          <span
            *ngIf="user"
            class="d-flex align-items-center text-white fw-bold me-5"
          >
            Hello, {{ user }}!
          </span>
          <button
            type="menu"
            *ngIf="!user"
            class="nav-link text-white"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Sign In / Sign Up
          </button>
          <button
            *ngIf="user"
            class="nav-link text-white"
            (click)="onSignOut()"
          >
            Sign Out
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Login Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="loginModalLabel">Log In</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          *ngIf="!user"
          class="d-flex flex-column gap-2"
          (submit)="onLogin(loginUsername.value, loginPassword.value, $event)"
        >
          <label>
            Username
            <input
              type="text"
              autocomplete="username"
              class="form-control"
              #loginUsername
            />
          </label>
          <label>
            Password
            <input type="password" class="form-control" #loginPassword />
          </label>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
        <div *ngIf="user">Successfully logged in as {{ user }}!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="!user"
          type="button"
          class="btn btn-success"
          data-bs-toggle="modal"
          data-bs-target="#signupModal"
        >
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Sign Up Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="signupModalLabel">Sign Up</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form *ngIf="!user" class="d-flex flex-column gap-2">
          <label>
            Username
            <input type="text" class="form-control" #signupUsername />
          </label>
          <label>
            Password
            <input type="password" class="form-control" #signupPassword />
          </label>
          <label>
            Confirm Password
            <input type="password" class="form-control" #signupConfirm />
          </label>
          <button type="submit" class="btn btn-success">Sign Up</button>
        </form>
        <div *ngIf="user">Successfully logged in as {{ user }}!</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          *ngIf="!user"
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#loginModal"
        >
          Log In
        </button>
      </div>
    </div>
  </div>
</div>
