<div class="mb-5">
  <h4>Weekly Macros</h4>
  <ul class="list-group list-group-horizontal flex-wrap">
    <li
      *ngFor="let macro of getWeeklyMacros((getMeals() | async) || [])"
      class="list-group-item row justify-content-between align-items-center border-0"
    >
      <span class="fw-semibold fs-5">{{ macro.name }}:</span>
      <span>
        <span class="fs-3">{{ macro.amount }}</span>
        <span class="">{{ macro.unit }}</span>
      </span>
    </li>
    <li
      id="no-meals"
      class="list-group-item border-0 flex-fill align-items-center justify-content-center"
    >
      <div class="text-muted text-center bg-light py-5 rounded-5 border">
        No meals selected for this week...
      </div>
    </li>
  </ul>
</div>
