<div class="container">
  <app-meal-search></app-meal-search>
  <ul class="list-group list-group-flush list-group-horizontal flex-wrap">
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
    <li
      *ngFor="let meal of getMeals() | async"
      class="list-group-item border-0"
    >
      <app-meal [meal]="meal"></app-meal>
    </li>
  </ul>
</div>
