<div class="card" style="width: 18rem">
  <img
    class="card-img-top"
    [src]="meal?.image"
    alt="Card image cap"
    style="max-height: 10rem; object-fit: cover"
  />
  <div class="card-header" [ngClass]="{ 'border-0': !showCardBody() }">
    <h5 class="card-title">{{ meal?.title }}</h5>
  </div>
  <div class="card-body" *ngIf="showCardBody()">
    <ul class="list-group">
      <li
        *ngFor="let filter of getActiveFilters() | keyvalue"
        class="list-group-item d-flex justify-content-between align-items-center"
      >
        <span>{{ filter.key }}:</span> {{ getNutrientValue(filter.key) }}
      </li>
    </ul>
  </div>
  <div
    class="card-footer d-flex justify-content-between"
    [ngClass]="{ 'border-0': !showCardBody() }"
  >
    <a [routerLink]="['/meals', meal?.id]" class="btn btn-secondary">
      View Meal
    </a>
    <button
      type="button"
      class="btn btn-success rounded-circle p-0"
      data-bs-toggle="modal"
      data-bs-target="#addWhereModal"
      (click)="showAddMealModal(meal?.id || 0)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="36"
        height="36"
        fill="currentColor"
        class="bi bi-plus-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
        />
      </svg>
    </button>
  </div>
</div>
