<div class="row align-items-center">
  <div class="col-1 text-center">:::</div>
  <a [routerLink]="['meals', mealId]" class="row col btn">
    <h5 class="text-start">
      {{ (getMealById() | async)?.title }}
    </h5>
    <div class="d-none d-md-block">
      <div class="row">
        <span
          *ngFor="
            let nutrient of getDisplayNutrients(
              (getMealById() | async)?.nutrients || []
            )
          "
          class="col text-nowrap fw-bold text-start"
        >
          <span class="fw-semibold">{{ nutrient.name | nutrient }}</span>
          : <span class="fs-4 fw-normal">{{ nutrient.amount }}</span>
          {{ nutrient.unit }}
        </span>
      </div>
    </div>
  </a>
  <button class="col-1 ms-auto">Remove Meal</button>
</div>
