<div class="col-12">
  <div
    class="m-auto text-center bg-light rounded-pill px-5"
    style="width: fit-content"
  >
    <button
      class="btn btn-link text-decoration-none fs-5 fw-bold text-primary"
      [disabled]="getPage() === 0"
      (click)="onPageChange(-1)"
    >
      <
    </button>
    {{ getPage() + 1 }}
    <button
      class="btn btn-link text-decoration-none fs-5 fw-bold text-primary"
      (click)="onPageChange(1)"
      [disabled]="!canGoForward()"
    >
      >
    </button>
  </div>
</div>
