<div class="row">
  <div class="row align-items-center">
    <button class="col-2 col-lg-1">Apply Template</button>
    <div class="row col" (click)="showMeals = !showMeals">
      <h4 class="col col-lg-2">
        {{ day | dayOfWeek }}
      </h4>
      <ul
        class="list-group list-group-flush list-group-horizontal col col-lg-9 ms-auto"
        [ngClass]="{ 'border-bottom': showMeals }"
      >
        <li
          *ngFor="
            let macro of getDailyMacros(
              (getMeals((getDailyMealIds() | async) || []) | async) || []
            );
            let i = index
          "
          class="list-group-item col text-nowrap text-start flex-fill border-0"
          [ngClass]="{
            'd-none d-lg-block': i > 0
          }"
        >
          <span class="fw-semibold">{{ macro.name | nutrient }}</span>
          : <span class="fs-4 fw-normal">{{ macro.amount }}</span>
          {{ macro.unit }}
        </li>
      </ul>
    </div>
  </div>
  <ol
    class="list-group list-group-flush"
    [ngStyle]="{
      height: getListHeight((getListOfMeals() | async) || []),
    }"
  >
    <li *ngFor="let mealId of getListOfMeals() | async" class="list-group-item">
      <app-planned-meal [mealId]="mealId"></app-planned-meal>
    </li>
    <li class="list-group-item border-0 mt-auto">
      <button>Add Meal</button>
    </li>
  </ol>
</div>
