<div class="d-flex" [ngStyle]="{ height: '80px', width: '100%' }">
  <button
    class="col d-flex align-items-center btn"
    data-bs-toggle="modal"
    data-bs-target="#editTemplateModal"
    (click)="editTemplate()"
  >
    <div
      class="ms-3 me-2 row border rounded-3"
      [ngStyle]="{
        display: 'flex',
        flexWrap: 'wrap',
        height: '100%',
        width: '80px',
        overflow: 'hidden'
      }"
    >
      <img
        *ngFor="let meal of getTemplateMeals() | async | slice : 0 : 4"
        [src]="meal?.image"
        [alt]="meal?.title"
        [ngStyle]="{ width: '50%', height: '50%', padding: '0' }"
      />
    </div>
    <div class="col text-start text-truncate">
      <h4 class="fs-4">
        {{ template?.title }}
      </h4>
    </div>
  </button>
</div>
