<div class="d-flex">
  <button
    class="col d-flex align-items-center btn"
    data-bs-toggle="modal"
    data-bs-target="#editTemplateModal"
    (click)="editTemplate()"
  >
    <div class="ms-3 me-5 row border rounded-3">
      <div class="col p-0">1</div>
      <div class="col p-0">2</div>
      <div class="w-100"></div>
      <div class="col p-0">3</div>
      <div class="col p-0">4</div>
    </div>
    <div class="col text-start">
      <h4 class="fs-4">
        {{ template?.title }}
      </h4>
      <div>cal carbs fat protein</div>
    </div>
  </button>
</div>
