<div class="container py-4">
  <div class="row mb-4">
    <h3 class="col-8">Today is {{ today | date : "longDate" }}</h3>
    <app-week-selection></app-week-selection>
  </div>
  <!-- <app-weekly-macros></app-weekly-macros> -->
  <button
    type="button"
    class="btn btn-primary mb-2"
    data-bs-toggle="modal"
    data-bs-target="#shoppingListModal"
  >
    Shopping List
  </button>
  <ol class="list-group" style="min-width: 400px">
    <li *ngFor="let day of [0, 1, 2, 3, 4, 5, 6]" class="list-group-item">
      <app-week-day [day]="day"></app-week-day>
    </li>
  </ol>
</div>
<a
  class="btn btn-success rounded-circle d-flex align-items-center justify-content-center position-fixed bottom-0 end-0 mb-4 me-4"
  routerLink="/meals"
  style="height: 5rem; width: 5rem"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="36"
    height="36"
    fill="currentColor"
    class="bi bi-calendar-plus"
    viewBox="0 0 16 16"
  >
    <path
      d="M8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7"
    />
    <path
      d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"
    />
  </svg>
</a>
<app-shopping-list-modal></app-shopping-list-modal>
<app-macros-modal></app-macros-modal>
