<div>
  <button
    class="btn btn-success btn-sm text-white fw-semibold mb-2"
    (click)="scrollToCurrentWeek()"
  >
    Go To Current Week
  </button>
  <ol
    class="list-group list-group-flush border-top border-bottom mb-5"
    id="week-list"
  >
    <li
      *ngFor="let week of displayWeeks"
      class="list-group-item week-list-item"
      [id]="week.start | date : 'shortDate'"
    >
      <app-week
        [weekStart]="week.start"
        [currentWeek]="week.current"
      ></app-week>
    </li>
  </ol>
</div>
