<div
  class="modal fade"
  id="addMealBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addMealBackdropLabel"
  aria-hidden="true"
  #addMealModal
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addMealBackdropLabel">
          Add Meal: {{ (getMeal() | async)?.title }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
      <div class="modal-body">
        <app-week-selection></app-week-selection>
        <ul class="list-group list-group-horizontal mb-4">
          <li
            *ngFor="let day of daysOfWeek; let i = index"
            class="list-group-item flex-fill text-center col selectable-day"
            [ngClass]="{ 'selected-day': i === selectedDayOfWeek }"
            style="width: 14%"
            (click)="selectDayOfWeek(i)"
          >
            <div class="fs-5 fw-bold">
              {{ day }}
            </div>
            <div>
              <button class="btn p-0" (click)="adjustMealCount(i, true)">
                ▲
              </button>
              <div>
                {{ getNumberOfMeal((getMealIds(i) | async) || []) }}
              </div>
              <button class="btn p-0" (click)="adjustMealCount(i, false)">
                ▼
              </button>
            </div>
          </li>
        </ul>
        <div [ngSwitch]="selectedDayOfWeek">
          <div *ngFor="let day of daysOfWeek; let i = index">
            <div *ngSwitchCase="i">
              <h6 class="fs-5">
                {{ i | dayOfWeek }}
              </h6>
              <ul class="list-group list-group-flush list-group-horizontal-sm">
                <li
                  *ngFor="
                    let macro of getDailyMacros((getMeals(i) | async) || []);
                    let i = index
                  "
                  class="list-group-item text-nowrap text-start flex-fill border-0 w-25 px-1"
                >
                  <div>
                    <span class="fw-semibold me-1">
                      {{ macro.name | nutrient }}
                    </span>
                    <span class="fw-normal">
                      {{ macro.amount }}
                    </span>
                    {{ macro.unit }}
                  </div>
                  <div
                    [ngStyle]="{
                      color: getMacroComparison(
                        macro.name,
                        macro.amount,
                        getMacroGoals() | async
                      ).type
                        ? 'green'
                        : 'red'
                    }"
                  >
                    {{
                      getMacroComparison(
                        macro.name,
                        macro.amount,
                        getMacroGoals() | async
                      ).remainder
                    }}
                    <span>
                      {{
                        getMacroComparison(
                          macro.name,
                          macro.amount,
                          getMacroGoals() | async
                        ).symbol
                      }}
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="closeModal()"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
